body{
    background-color: black;
}
h1{
    font-size: 120px;
    filter: brightness(0.25);
    color: white;
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
}
h2{
    color: white;
    font-size: 50px;
}
p{
    color: white;
}
.conteiner{
    width: 100%;
    display: flex;
    height: fit-content;
}
.right{
    width: 60%;
    text-align: center;
    padding-left: 60px;
    padding-top: 100px;
}
.right-bottom{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: auto;
}
a{
    color: white;
    background-color:#db6b50;
    border-radius: 25px;
    width: 25%;
    margin: 10px;
    flex-grow: 1;
    text-decoration:none;
}
.left{
    width: 40%;
    height: 500px;
    background-image: url(poster.jpg) ;
    background-repeat: no-repeat;
    background-size: contain;
}