@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: ;
}
body{
    box-sizing: border-box;
}
.menu{
    background-color: white;
    display: flex;
    width: 100%;
    height: 90px;
}
.menu-left{
    width: 50%;
}
.menu-right{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-right a{
    color: #d94230;
    text-decoration: none;
    font-size: 20px;
}
.header{
    height: 90vh;
    width: 100%;
    display: flex;
}
.header-left{
    background-image: url(img/header-left-img.png);
    width: 50%;
    height: 100%;
    background-size: cover;
}
.header-right{
    color: white;
    background-color: #222222;
    width: 50%;
    position: relative;
}
.header-right h1{
    font-size: 100px;
    padding-left: 10px;
}
.header-right p{
    color: white;
    opacity: 0.43;
    font-size: 30px;
    position: absolute;
    right: 10px;
    bottom: 100px;
    text-align: right;
}
.header-right a{
    background-color: #d94230;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 20px 150px;
    position: absolute;
    left: 300px;
    bottom: 30px;
}
.popular{
    width: 100%;
    height: 70vh;
}
.conteiner{
    width: 60%;
    height: 80vh;
}
.popular .conteiner{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bg-title{
    text-align: center;
    color: #d94230;
    font-size: 50px;
}
.card{
    width: 30%;
    height: 300px;
    border-radius: 10px;
    background-size: contain;
    position: relative;
    box-shadow: #222222 0px 0px 5px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.card p{
    position: absolute;
    bottom: -30px;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 20px;
    width: 100%;
    color: white;
    font-size: 30px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.purple{
    background-image: url(img/gamepad1-card-img.png);
    background-repeat: no-repeat;
}
.red{
    background-image: url(img/gamepad2-card-img.png);
    background-repeat: no-repeat;
}
.donut{
    background-image: url(img/gamepad3-card-img.png);
    background-repeat: no-repeat;
}
.pink{
    background-image: url(img/gamepad4-card-img.png);
    background-repeat: no-repeat;
}
.doom{
    background-image: url(img/gamepad5-card-img.png);
    background-repeat: no-repeat;
}
.storm{
    background-image: url(img/gamepad6-card-img.png);
    background-repeat: no-repeat;
}
.purple p{
    background-image: linear-gradient(#382936,#885a70);
    background-repeat: no-repeat;
}
.red p{
    background-image: linear-gradient(#651612,#c43a3f);
    background-repeat: no-repeat;
}
.donut p{
    background-image: linear-gradient(#fc6c82,#fec80a);
    background-repeat: no-repeat;
}
.pink p{
    background-image: linear-gradient(#e15f99,#459dcb);
    background-repeat: no-repeat;
}
.doom p{
    background-image: linear-gradient(#880d06,#130201);
    background-repeat: no-repeat;
}
.storm p{
    background-image: linear-gradient(#6ec4c7,#d54747);
    background-repeat: no-repeat;
}